
.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
  }
  
  .card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    background-color: white;
    text-decoration: none;
    border-bottom: 1px solid #5a4343;
    border-radius: 15px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 800px;
  }
  
  
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .header{
    display: inline;
  }
  .icon{
      width: 30px;
      height: 30px;
      float:right;
  }
  
  .images{
      width: 30px;
      height: 30px;
      float:left;
      margin-right: 5px;
  }
  .keywordList{
      border-top:1px solid lightpink;
      padding-top: 15px;
  }
  .sourceTitle{
    font: bold;
    
  }
  .title{
      font: 1em sans-serif;
  }
  .keyword {
    display: inline;
    padding: 5px;
    margin:5px;
    background-color: white;
    border-radius: 15px;
    color:teal;
    border:1px solid teal;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
    .card {
        width: 90%;
        flex-direction: column;

    }
  }
  